# Ignore JetBrains IDE settings
.idea/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment or secrets
.env
*.env

# Ignore logs
*.log

# Ignore zipped files
*.zip
*.imported
